<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue 使用对象</title>
    <script src="http://localhost:8098"></script>
    <script src="../js/vue.js"></script>

</head>

<body>

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        <br>
        <div v-for="(value, name) in object">
            {{ name }}: {{ value }}
        </div>
        <br>
        <div v-for="(value, name, index) in object">
            {{ index }}. {{ name }}: {{ value }}
        </div>
        <br>
    </ul>




    <script>

        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })

    </script>


</body>

</html>