<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue 用key管理可复用的元素</title>
    <script src="http://localhost:8098"></script>
    <script src="../js/vue.js"></script>

</head>

<body>

    <div id="app">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template>
    </div>

    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                loginType: username
            }
        })
    </script>

</body>

</html>